<!DOCTYPE html>
<html>
<head>
    <title>Grid CRUD Example</title>

    <link href="/static/css/examples-offline.css" rel="stylesheet">
    <link href="/static/css/kendo.common.min.css" rel="stylesheet">
    <link href="/static/css/kendo.default.min.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/kendo.web.min.js"></script>
    <script src="/static/js/console.js"></script>
    <script src="/static/js/ajax.post.fix.js"></script>
</head>
<body>
    <H1> Kendo UI Grid CRUD Example </H1>
            <div id="example" class="k-content">
            <div id="grid"></div>

            <script type="text/x-kendo-template" id="template">
                <div class="tabstrip">
                    <ul>
                        <li class="k-state-active">
                           Products
                        </li>
                    </ul>
                    <div>
                        <div class="products"></div>
                    </div>
                </div>

            </script>

            <script>
                $(document).ready(function () {
                        
                    var element = $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "/shops/"
                            },
                            pageSize: 5,
                        },
                        height: 430,
                        sortable: true,
                        pageable: true,
                        detailTemplate: kendo.template($("#template").html()),
                        detailInit: detailInit,
                        dataBound: function() {
                            this.expandRow(this.tbody.find("tr.k-master-row").first());
                        },
                        columns: [
                            { field: "ShopName", title: "Shop Name", width: "120px" },
                            { field: "Address", title: "Address", width: "120px" },
                            { field: "Country", width: "120px" },
                            { field: "Category", width: "120px" }
                        ]

                        });


                    function detailInit(e) {
                        var detailRow = e.detailRow;

                        detailRow.find(".tabstrip").kendoTabStrip({
                            animation: {
                                open: { effects: "fadeIn" }
                            }
                        });

                    detailRow.find(".products").kendoGrid({
                            dataSource: {
                                transport: {
                                    read:  {
                                        url: "/products/",
                                        type: "GET",
                                        dataType: "json"
                                    },
                                    update: {
                                        url: function(options) {
                                                return "/products/" + options.id + '/';
                                        },
                                        type: "PUT",
                                        contentType: "application/json", 
                                        dataType: "json"
                                    },
                                    destroy: {
                                        url: function(options) {
                                                return "/products/" + options.id + '/';
                                        },
                                        type: "DELETE",
                                        dataType: "json"
                                    },
                                    create: {
                                        url: "/products/",
                                        type: "POST",
                                        contentType: "application/json",
                                        dataType: "json",
                                        data: function(options) {
                                                    return {
                                                  shop_id: e.data.id
                                                }
                                        }
                                    },
                                    parameterMap: function(data, type) {
                                          if (type !== "read") {
                                            return kendo.stringify(data);
                                          }
                                          else {
                                              return { shopid: e.data.id } 
                                          }
                                    }
                                },
                                filter: { field: "shop_id", operator: "eq", value: e.data.id },
                                serverFiltering : true,
                                batch: false,
                                pageSize: 10,
                                schema: {
                                    model: {
                                        id: "id",
                                        fields: {
                                            id: { editable: false, nullable: true },
                                            ProductName: { validation: { required: true } },
                                            UnitPrice: { type: "number", validation: { required: true, min: 1} },
                                            Discontinued: { type: "boolean" },
                                            UnitsInStock: { type: "number", validation: { min: 0, required: true } }
                                        }
                                    }
                                }
                            },
                            scrollable: false,
                            sortable: true,
                            pageable: true,
                            toolbar: ["create"],
                            columns: [
                                "ProductName",
                                { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "100px" },
                                { field: "UnitsInStock", title:"Units In Stock", width: "100px" },
                                { field: "Discontinued", width: "100px" },
                                { command: ["edit", "destroy"], title: "&nbsp;", width: "172px" }],
                            editable: "popup"
                        });
                    }
                });


            </script>
        </div>

</body>
</html>

